# Node modules
/node_modules
**/node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
dist/
build/
.cache/

# OS files
.DS_Store
Thumbs.db

# Uploaded images
uploads/

# IDE specific
.vscode/
.idea/

# Misc
*.tgz
